attrs==25.3.0
black==24.10.0
click==8.2.1
copykitten==1.2.2
flake8==7.2.0
Flake8-pyproject==1.2.3
hypothesis==6.131.21
iniconfig==2.1.0
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
pycodestyle==2.13.0
pyflakes==3.3.2
pyink==24.10.1
pyright==1.1.401
pytest==8.3.5
sortedcontainers==2.4.0
typing_extensions==4.13.2
